font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.container {
	margin: 0 auto;
	width: 1024px;
	padding: 0 20px;
}
a {
    text-decoration: none;
}
ul {
	list-style-type: none;
}
li {
	display: inline;
}
header {
	padding-bottom: 3em;
	background-image: url(img/header-hero.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-logo {
	margin-top: 20px;
	margin-left: 50px;
	width: 92px;
	height: 19px;
	float: left;
	background-image: url(img/SNAPFIXX.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.header-top-nav {
	float: right;
}
.header-top-nav_item {
	margin: 0 30px;
	margin-top: 20px;
}
.header-top-nav_item a {
	font-family: 'Raleway', sans-serif;
	font-size: 0.688em;
	text-transform: uppercase;
	color: white;
	line-height: 20px;
}
.header-top-nav_item a:hover {
	box-shadow: 0 3px 0px 0px white;
} 
.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}
header h1 {
 padding-top: 2em;
 font-family: Kartika, Arial, San-serif;
 color: white;
 font-size: 4.2em;
 font-weight: bold;
 text-align: center;	
 text-transform: uppercase;
}
.header-button {
	margin: 0 auto;
	display: block;
	margin-top: 2em;
	margin-bottom: 4em;
	width: 240px;
	height: 45px;
	font-family: Kartika, Arial, San-serif;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #7ca5d9;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
	border-radius: 50px;
}
.download {
	box-sizing: border-box;
	padding-bottom: 1.8em;
	padding-top: 1.8em;
	width: 100%;
	background-color: #9678a7;
	text-align: center;
}
.download h3 {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 5px;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	font-size: 1.563em;
}
.download p {
	color: white;
	font-size: 1.125em;
}
.download-button {
	margin: 0 auto;
	padding-left: 22px;
	display: block;
	width: 210px;
	height: 40px;
	background-color: #7ca5d9;
	background-image: url(img/download.png);
	background-repeat: no-repeat;
	background-position: 14% center;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
	border-radius: 50px;
	margin-top: 3.000em;
	margin-bottom: 2em;
}
.whatwedo {
	box-sizing: border-box;
	padding-left: 5%;
	padding-right: 60%;
	padding-bottom: 2em;
	width: 100%;
	position: relative;
    background-image: url(img/section-bg.png);
   	background-repeat: no-repeat;
	background-position: right center; 
}
.whatwedo-fone, .reviews-fone {
	font-family: Segoe UI, Arial, San-serif;
	font-size: 4.000em;
	position: absolute;
	left: 10px;
	top: 45px;
	color: #f5f5f5;
}
.whatwedo h2, .reviews h4 {
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	padding-top: 110px;
	margin-bottom: 70px;
}
.whatwedo h6 {
	font-family: 'Calibri', sans-serif;
	font-size: 1.125em;
	padding-top: 30px;
	margin-bottom: 20px;
}
.whatwedo-button {
	display: block;
	width: 185px;
	height: 45px;
	background-color: white;
	color: black;
	text-transform: uppercase;
	text-align: center;
	line-height: 45px;
	border:1px solid #33c5f5;
	border-radius: 50px;
	margin-top: 3.000em;
}
.signup {
	box-sizing: border-box;
	background-color: #45b782;
	width: 100%;
	padding: 65px 60px 60px 60px;
}
.signup-group {
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.signup-block {
	box-sizing: border-box;
	width: 240px;
	height: 310px;
	display: flex;
	align-items:flex-start;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    border: 2px dashed #45b781;
    transition: all 0.5s ease-out; 
}
.signup-block:hover {
	border: 2px dashed white;
	border-radius: 30px;
	cursor: pointer;
}
.signup-block img{
	margin: 0 auto;
}
.signup-block p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.938em;
	padding-top: 10px;
	color: white;
}
.joinup {
	background-color: #f4f4f4;
}
.joinup-top {
	width: 100%;
	height: 10.625em;
	background-color: white;
}
.joinup h3 {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 5px;
	padding-top: 3em;
	text-align: center;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	font-size: 1.6em;
}
.joinup-shluxi {
	width: 627px;
	height: 471px;
	margin: 0 auto;
	margin-top: -30px;
	position: relative;
    background-image: url(img/mockup-imac.png);
   	background-repeat: no-repeat;
	background-position: center center; 
}
.telephone-img {
	width: 152px;
	height: 266px;
	position: absolute;
    right: 45px;
    bottom: 0;
    background-image: url(img/mockup-iphone.png);
   	background-repeat: no-repeat;
	background-position: center center; 
}
.joinup-wrapper {
    background: linear-gradient(to right, rgba(94,134,179,1) 0%, rgba(122,162,214,1) 50%, rgba(94,134,179,1) 100%);
}
.joinup-features {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.joinup-features-item {
	text-align: center;
	/*width: 25%;*/
	margin: 45px 30px;
}
.joinup-features-item p {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
	color: white;
	text-transform: uppercase;
	font-size: 1.2em;
}
.joinup-features-item span {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: white;
}
.reviews {
	position: relative;
	box-sizing: border-box;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2em;
}
.reviews h4{
	text-align: center;
	padding-top: 0;
    margin-bottom: 30px;
}
.reviews-slider-block__item img {
	margin-left: 40%;
	float: left;
}
.reviews-slider-block__item p {
	line-height: 46px;
}
footer {
	text-align: center;
	background-color: #212933;
	padding: 40px 40px 15px 40px;
}
.footer-wrapper {
	display: flex;
	justify-content: space-between;
}
.footer-logo {
	width: 92px;
	height: 19px;
	float: left;
	background-image: url(img/SNAPFIXX.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.footer-nav {
	margin: 0 auto;
}
.footer-nav-item {
	margin: 8px; 
}
.footer-nav-item a {
	font-family: 'Raleway', sans-serif;
	padding-top: 0.5em;
	text-align: center;
	font-weight: 400;
	color: white;
	text-transform: uppercase;
	font-size: 0.8em;
}
.footer-contacts a {
   font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 0.8em;
}
footer p {
	display: inline;
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: white;
	font-weight: bold;	
	font-size: 0.8em;
}
/*footer span {
    font-family: 'Raleway', sans-serif;
	color: gray;
	text-align: right;
	font-size: 0.6em;
}*/
/*#top{
	width:100%;
	background: #222;
	text-align:center;
	height:35px;
	line-height:35px;
	}
#top a{color:#00FF00;text-decoration:none;}
.logo{
	width:200px;
	font: 22px/125% Tahoma;
	float:left;
	line-height:35px;
	}
.logo span{font: 12px/125% Tahoma;}
 */

.reviews-fone {
	left: 10px;
	top: -85px;
	color: #f5f5f5;
}

center {
	margin-top: 100px;

}
.sl_ctr{
position:relative;
width:450px;
height:300px;
overflow:hidden;
}
.sldr{
position:relative;
width:10000px;
height:300px;
}
.sldr img{
float:left;
}
.prv_b, .nxt_b{
position:absolute;
top:135px;
display:block;
width:35px;
height:35px;
cursor:pointer;
}
.prv_b:hover, .nxt_b:hover{opacity:.6;}
.prv_b{
left:10px;
background:url(img/prv.png) no-repeat;
}
.nxt_b{
right:10px;
background:url(img/nxt.png) no-repeat;
}
